input {
  width: 100%;
  height: 36px;
  font-size: medium;
}
.s {
  margin-left: 35px;
}
#ViewSearchHistory {
  margin-left: 35px;
  border-radius: 5px;
  height: 29px;
  cursor: pointe;
}
.search {
  /* margin-top: 0px;
  background-color: white;
  color: black;
  border-radius: 5px;
  align-items: center;
  height: 30px;
  width: 100px;
  cursor: pointer; */
}

body {
  background-color: black;
  color: white;
}

form {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

label {
  font-size: 1.5rem;
}

input[type="text"] {
  background: black;
  color: #e5e5e5;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 1rem;
}

button[type="submit"] {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem;
}

.result {
  width: calc(33.33% - 1rem);
  margin: 1rem;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 5px;
}

.result img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.result h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.result p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.result button {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.s {
  color: aliceblue;
}
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
